# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Theme development files
.nojekyll
.browserslistrc
.commitlintrc.json
.editorconfig
.prettierrc
.stylelintrc.json
.versionrc.json
.husky/
.gitmodules
docs/
tools/
rollup.config.js
package.json

# OMC
.omc/

# Misc
demopost
